:root{

    /*https://x.com/Ashaife/status/1239011834851622913 */
    --textColour: #fff9e5;
    --skyColour: #8ecfca;
    --footerColour: #786951;
    --boxColour: #f8eebc;
    --grassColour: #68b893;
    --textColour2: #017c74;

}